{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container text-center">
    <div class="row" style="margin: 10px;">
      <div class="col" style="margin: 3px;">
        <div class="list-group" id="right1">
            <a href="" class="list-group-item list-group-item-action"
               style="background-color:#111827; color:#e5e7eb; border:none;">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <span class="link-name">Supermarket</span>
            </a>
            <a href="" class="list-group-item list-group-item-action"
               style="background-color:#111827; color:#e5e7eb; border:none;">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="link-name">Health &amp; Beauty</span>
            </a>
            <a href="" class="list-group-item list-group-item-action"
               style="background-color:#111827; color:#e5e7eb; border:none;">
                <i class="fa-solid fa-comment"></i>
                <span class="link-name">Home &amp; Office</span>
            </a>
            <a href="" class="list-group-item list-group-item-action"
               style="background-color:#111827; color:#e5e7eb; border:none;">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <span class="link-name">Fashion</span>
            </a>
            <a href="" class="list-group-item list-group-item-action"
               style="background-color:#111827; color:#e5e7eb; border:none;">
                <i class="fa fa-audio-description" aria-hidden="true"></i>
                <span class="link-name">Electronics</span>
            </a>
            <a href="" class="list-group-item list-group-item-action"
               style="background-color:#111827; color:#e5e7eb; border:none;">
                <i class="fa fa-cubes" aria-hidden="true"></i>
                <span class="link-name">Gaming</span>
            </a>
            <a href="" class="list-group-item list-group-item-action"
               style="background-color:#111827; color:#e5e7eb; border:none;">
                <i class="fa fa-child" aria-hidden="true"></i>
                <span class="link-name">Baby Products</span>
            </a>
            <a href="" class="list-group-item list-group-item-action"
               style="background-color:#111827; color:#e5e7eb; border:none;">
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <span class="link-name">Sporting Goods</span>
            </a>
            <a href="" class="list-group-item list-group-item-action"
               style="background-color:#111827; color:#e5e7eb; border:none;">
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <span class="link-name">Garden &amp; Outdoor</span>
            </a>
        </div>
      </div>

      <div class="col-md-7" style="margin: 3px;">
        <img src="../static/images/center.gif" alt=""
             style="width: 600px; height: 365px; border-radius: 10px;">
      </div>

      <div class="col-md-2">
        <div class="row"
             style="background-color:#111827; border-radius:10px; padding-bottom:8px; box-shadow:0 10px 24px rgba(15,23,42,0.6);">
            <div class="row" style="display:flex; margin-top:5px;">
                <div class="col">
                    <img src="../static/images/help.png" alt=""
                         style="width:30px; height:30px; margin-left:-30px;">
                </div>
                <div class="col">
                    <h6 style="font-family:'Times New Roman', Times, serif; font-size:12px; margin-left:-40px; font-weight:600; color:#e5e7eb;">
                        HELP CENTER
                    </h6>
                    <p style="font-size:small; color:#cbd5f5; margin-left:-30px; margin-top:-10px;">
                        Customer care
                    </p>
                </div>
            </div>

            <div class="row" style="display:flex; margin-top:5px;">
                <div class="col">
                    <img src="../static/images/return.png" alt=""
                         style="width:30px; height:30px; margin-left:-30px;">
                </div>
                <div class="col">
                    <h6 style="font-family:'Times New Roman', Times, serif; font-size:12px; margin-left:-40px; font-weight:600; color:#e5e7eb;">
                        EASY RETURN
                    </h6>
                    <p style="font-size:small; color:#cbd5f5; margin-left:-30px; margin-top:-10px;">
                        Quick Refund
                    </p>
                </div>
            </div>

            <div class="row" style="display:flex; margin-top:5px;">
                <div class="col">
                    <img src="../static/images/payment.png" alt=""
                         style="width:30px; height:30px; margin-left:-30px;">
                </div>
                <div class="col">
                    <h6 style="font-family:'Times New Roman', Times, serif; font-size:12px; margin-left:-40px; font-weight:600; color:#e5e7eb;">
                        SELL ON AMAZON
                    </h6>
                    <p style="font-size:small; color:#cbd5f5; margin-left:-30px; margin-top:-10px;">
                        FBA Program
                    </p>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 12px;">
            <div class="col">
                <img src="../static/images/right2.gif" alt="" class="right2">
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container text-center">
    <div class="row" style="margin: 8px;">
        <div class="col"
             style="display:flex; background-color:#111827; border-radius:10px; padding:7px; margin:5px; color:#e5e7eb;">
            <img src="../static/images/techweek.png" alt="" style="width:30px; height:30px;">
            <h6 style="margin:4px;">Tech Week</h6>
        </div>
        <div class="col"
             style="display:flex; background-color:#111827; border-radius:10px; padding:7px; margin:5px; color:#e5e7eb;">
            <img src="../static/images/FreeDelivery.png" alt="" style="width:30px; height:30px;">
            <h6 style="margin:4px;">Free Delivery</h6>
        </div>
        <div class="col"
             style="display:flex; background-color:#111827; border-radius:10px; padding:7px; margin:5px; color:#e5e7eb;">
            <img src="../static/images/food.png" alt="" style="width:30px; height:30px;">
            <h6 style="margin:4px;">Amazon Food</h6>
        </div>
        <div class="col"
             style="display:flex; background-color:#111827; border-radius:10px; padding:7px; margin:5px; color:#e5e7eb;">
            <img src="../static/images/airtime.png" alt="" style="width:30px; height:30px;">
            <h6 style="margin:4px;">Airtime &amp; Bills</h6>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row" style="margin: 8px; background-color:#0f172a;" id="column">

        {% for item in items %}
        <div class="col" style="background-color:#111827; border-radius:12px; padding-bottom:8px; margin:6px; color:#e5e7eb;">
            <img src="{{ item.product_picture }}" alt=""
                 style="height:202px; width:180px; border-radius:10px; margin-top:6px;">

            <div class="row" style="margin-top: 5px;">
                <h6 style="color:#cbd5f5;">{{ item.product_name }}</h6>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <h5 style="font-weight:600; font-family:'Times New Roman', Times, serif; color:#e5e7eb;">
                        Ksh {{ item.current_price }}
                    </h5>
                    <strike>
                        <p style="color:#64748b;">Ksh {{ item.previous_price }}</p>
                    </strike>
                </div>

                <div class="col">
                    <a href="/add-to-cart/{{ item.id }}">Add</a>
                </div>
            </div>

            <div class="row">
                <p style="color:#cbd5f5;">{{ item.in_stock }} Items Left</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
